.border{
  
  width: 1200px;
  height: 1000px;
  margin: auto;
}
.header{
  border:1px solid black;
  width: 150px;
  height: 50px;
  float: left;
  background-color: yellow;
}
.grey {
  margin-left: 20px;
  width: 1000px;
  height: 50px;
  background-color: orangered;
}
.nav{
  width: 150px;
  height: 600px;
  border: 1px solid black;
  margin-top: 30px;
  float: left;
  background-color: greenyellow
}
.green{
  margin-left: 20px;
  width: 1000px;
  background-color: grey
}
.footer{
  border: 1px solid black;
  width: 1172px;
  height: 50px;
  margin-top: 700px;
  background-color: blue;
  position: absolute;
  left: 75px;
  top: 10px;
}